@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    color: #263138;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 20;
    align-items: center;
    justify-content: space-between;
    background-color: #f3a068;
    margin: 0px -8px 2px -8px;
    padding: 24px 80px;
    width: 100%;

}

nav>a{
    margin-right: 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
nav>a:hover{
    text-decoration: underline 2px;
}

main{
    margin-top: 50px;
}

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}
#clinica li{
    margin-bottom: 16px;
    margin-left: 38px;
}

#farmacia{
    padding: 64px 80px;
    text-align: center;
}
#farmacia img{
    margin: 64px auto;
}
#farmacia p{
    text-align: justify;
}

#duvidas{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}


h1, h2{
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo{
    line-height: 150%;
    margin: 32px;
}

.button{
    background-color: #f55128;
    padding: 16px 32px;
    margin-top: 20px;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;

    transition-duration: 0.3s;
}

.button:hover{
    background-color: #e77559;
    padding: 20px 40px;
}

.button-transparent{
    background-color: transparent;
    color: #f55128;
    text-decoration: none;
    font-weight: bold;

    padding: 16px 32px;
    margin-top: 20px;

    border-style: solid;
    border-width: 0.2em;
    border-color: #f55128;
    border-radius: 1em;
}
.button-transparent:hover{
    text-decoration: underline;
}
#container-buttons{
    display: flex;
    gap: 10px;
}
.absoluto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

.duvida{
    position: relative;
}

.duvida h3{
    border: 2px solid #f55128;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img{
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo{
    padding: 0px;
    margin-top: -3px;
    border-right: 1px solid #f55128;
    border-bottom: 1px solid #f55128;
    border-left: 1px solid #f55128;
    border-radius: 0 0 8px 8px;

    height: 0;
    overflow: hidden;
    opacity: 0;

    transition: .3s;
}

/* entra no elemento que tem a classe dúvida e ativa, e pegar o elemento que recebe a classe paragrafo */
.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer{
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;

    width: 100%;
}
footer #titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer p a{
    color: #f55128;
    font-weight: 600;
    text-decoration: none;
}

#copy{
    background-color: #263138;
    color: white;
    text-align: center;
    padding: 24px;

    width: 100%;
}
#copy a{
    color: #f55128;
    text-decoration: none;
    font-weight: 600;
}


h3, img, header{
    user-select: none;
}